#create-group-form{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    color: grey;
}

#create-group-page{
    background-color: rgb(246, 247, 248);
    top: 130px;
    border:none;
    overflow-y: auto;
    margin: auto;
    width: 1000px;
}

#create-group-form textarea{
    height: 150px;
    width: 80%;
}

#create-group-form .left{
    align-self: center;
    padding-left: 80px;
}

#create-group-page h1{
    text-align: center;
}

#create-group-page select{
    width: 168px;
    margin-left: 9px;
}

#create-group-page #private{
    margin-right: 155px;
    margin-left: 9px;
}

.modal-content{
    margin: 50px;
}

#error-list{
    width: 100%;
    align-self: flex-start;
    color: red;
}

#create-group-title{
    color: rgb(0, 130, 148);
}

#new-group-submit{
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(246, 88, 88);
    color: white;
    padding: 5px;
    cursor: pointer;
}

#session-user-name{
    margin: 0;
    padding: 0;
}
