#show-group{
    margin: auto;
    margin-top: 25px;
}

#group-details-container{
    display:grid;
    width: 1000px;
    height: 400px;
    grid-template-columns: 5fr 4fr;
    column-gap: 50px;
    padding-bottom: 25px;
    margin: auto;
}

#group-details-container img{
    border-radius: 10px;
    height: 400px;
}

#group-details{
    display:grid;
    height: 100%;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
}

#group-details h1{
    margin: 0 0 50px 0;
    font-size: 36px;
}

#group-details p{
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: rgb(33, 33, 33)

}

.group-details-top-div{
    display: grid;
    grid-template-columns: 1fr 15fr;
    margin-top: 10px;
}

#group-details-bottom-icons{
    align-content: flex-end;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    justify-items: right;
}

#group-option-bar{
    display: grid;
    grid-template-columns: 5fr 4fr;
    width: 1000px;
    margin: auto;
}

#group-option-bar-container{
    border-top: solid lightgrey;
    position: sticky;
    top: -10px;
    background-color: white;
    z-index: 999;
}

#group-option-bar-left{
    display: flex;
    padding: 25px 0 25px 0;
}

#group-option-bar-left button{
    margin-right: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

#group-option-bar-left button:hover{
    color:rgb(0, 130, 148);
}

#group-option-bar-right{
    display:flex;
    align-items: center;
}

#group-option-bar-right button{
    border-radius: 5px;
    background-color: rgb(246, 88, 88);
    color: white;
    border: none;
    padding: 10px;
}

#group-description-container{
    width: 100%;
    background-color: rgb(246, 247, 248);
}

#group-description{
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 5fr 4fr;
}

#event-group{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#event-group > p{
    grid-column: 1/6;
    font-size: 20px;
    margin: 25px 0 25px 0;

}

#event-group i{
    grid-column: 1/2;
    grid-row: 2/4;
}

#event-group #event-host{
    grid-column: 2/6;
    grid-row: 2/4;
    margin: 0;
    padding: 0;
}

#event-group #event-host p{
    margin: 0;
    padding: 5px 0 0px 0;
}

#event-host{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

#event-host > #message{
    color: rgb(0, 130, 148);
}
