#show-group{
    width: 100%;
    height: 100%;
    background-color: rgba(244 , 244, 255);
    border-radius: 50px;
}

#group-details{
    display:flex;
}

#show-group-left{
    flex: 2;
    margin: 50px;
}

#show-group-left img{
    height: 200px;
    width: 300px;
}

#show-group-right{
    flex: 1;
    margin: 50px;
    text-align: center;
    height: 400px;
}

#event-group, #details{
    background-color: white;
    border-radius: 25px;
}

h1, h2, p{
    margin: 20px;
}

#group-group{
    margin: auto;
}
#group-group p{
    display: inline-block;
}

.dates{
    font-weight: 700;
}

#dates, #description{
    margin: 20px
}

#options{
    position: fixed;
    bottom: 0;
    display: grid;
    width: 60%;
    margin: auto;
    grid-template-columns: 5fr 1fr 1fr;
}

#reminder{
    margin: 0 60px 0 60px;
}

img{
    width: 100%;
    border-radius: 20px;
}
